#customer-info {
  display: flex;
}

.customer-info-wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 20px;

  width: 1440px;
  height: calc(100vh - 10vh);
}

.customer-info-top {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
}

.customer-info-top-text {

  color: rgba(0, 0, 0, 0.80);

  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.divider {
  border-top: 1px solid rgba(118, 152, 183, 1);

  width: 1100px;
  height: 0px;

  stroke-width: 1px;
  stroke: #7698B7;
}

.customer-info-search {
  display: flex;

  margin-top: 20px;
}

.customer-info-search-container {
  display: flex;

  width: 1080px;
  height: 35px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.customer-info-search-code {
  display: flex;
}

.customer-info-search-code-text-container {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 140px;
  height: 35px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.customer-info-search-code-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-info-search-code-container {
  display: flex;
  
  align-items: center;
  
}

.code-search-input-box {
  margin-left: 14px;
  margin-right: 14px;

  width: 100px;
  height: 27px;

  border: none;

  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.code-search-input-box-display {
  display: flex;
  align-items: center;

  margin-left: 14px;
  margin-right: 14px;

  width: 200px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.3);
}

.code-search-input-box-display-text {
  margin-left: 14px;

  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-info-search-name {
  display: flex;
}

.customer-info-search-name-text-container {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 140px;
  height: 35px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.customer-info-search-name-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-info-search-name-container {
  display: flex;
  
  align-items: center;
  
}

.name-search-input-box {
  margin-left: 14px;
  margin-right: 14px;

  width: 100px;
  height: 27px;

  border: none;

  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-search-input-box-display {
  display: flex;
  align-items: center;

  margin-left: 14px;
  margin-right: 14px;

  width: 200px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.3);
}

.name-search-input-box-display-text {
  margin-left: 14px;
  
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-info-middle {
  display: flex;

  padding-top: 30px;
  padding-bottom: 18px;
}

.customer-info-middle-left {
  display: flex;
  flex-direction: column;
}

.customer-info-middle-left-top {
  margin-left: 20px;
}

.customer-info-middle-left-top-text {
  padding-bottom: 17px;
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customer-info-middle-left-bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 340px;
  height: 550px;

  border: 1px solid #CFCFCF;
}

.customer-info-middle-left-bottom-container {
  width: 320px;
  height: 530px;

  border: 1px solid #CFCFCF;
}

.customer-info-middle-right {
  display: flex;

  padding-left: 22px;

  flex-direction: column;
}

.customer-info-middle-right-top {
  margin-left: 20px;
}

.customer-info-middle-right-top-text {
  padding-bottom: 17px;
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customer-info-middle-right-bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 720px;
  height: 550px;

  border: 1px solid #CFCFCF;
}

.customer-info-middle-right-bottom-container {
  width: 700px;
  height: 530px;

  border: 1px solid #CFCFCF;
}

.customer-name {
  display: flex;

  align-items: center;

  margin-top: 20px;
  margin-left: 20px;
}

.customer-name-text {
  width: 100px;
  height: 27px;

  color: rgba(0, 0, 0, 0.80);

  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-name-input {
  width: 400px;
  height: 27px;

  margin-left: 20px;

  border: 1px solid rgba(0, 0, 0, 0.30);
}

.customer-business-number {
  display: flex;

  align-items: center;

  margin-top: 20px;
  margin-left: 20px;
}

.customer-business-number-text {
  width: 100px;
  height: 27px;

  color: rgba(0, 0, 0, 0.80);

  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-business-number-input {
  width: 400px;
  height: 27px;

  margin-left: 20px;

  border: 1px solid rgba(0, 0, 0, 0.30);
}

.customer-address {
  display: flex;

  align-items: center;

  margin-top: 20px;
  margin-left: 20px;
}

.customer-address-text {
  width: 100px;
  height: 27px;

  color: rgba(0, 0, 0, 0.80);

  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-address-input {
  width: 400px;
  height: 27px;

  margin-left: 20px;

  border: 1px solid rgba(0, 0, 0, 0.30);
}

.customer-address-detail {
  display: flex;

  align-items: center;

  margin-top: 20px;
  margin-left: 20px;
}

.customer-address-detail-text {
  width: 100px;
  height: 27px;

  color: rgba(0, 0, 0, 0.80);

  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-address-detail-input {
  width: 400px;
  height: 27px;

  margin-left: 20px;

  border: 1px solid rgba(0, 0, 0, 0.30);
}

.customer-tel-number {
  display: flex;

  align-items: center;

  margin-top: 20px;
  margin-left: 20px;
}

.customer-tel-number-text {
  width: 100px;
  height: 27px;

  color: rgba(0, 0, 0, 0.80);

  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customer-tel-number-input {
  width: 400px;
  height: 27px;

  margin-left: 20px;

  border: 1px solid rgba(0, 0, 0, 0.30);
}

.customer-info-bottom {
  display: flex;
}

.customer-info-bottom-button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 827px;
  margin-right: 5px;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(52, 117, 181, 1);

  background-color: rgba(52, 117, 181, 1);
}

.customer-info-bottom-button-save-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customer-info-bottom-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(0, 0, 0, 0.5);
}

.customer-info-bottom-button-cancel-text {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}