#order-info-wrapper {
  display: flex;
}
.order-big-wrapper{
  display: flex;
}

.order-info-right {
  width: calc(194.858vh - 24.62vh);
}

.order-info-top-container {
  display: flex;

  margin-left: 27px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.order-info-top-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}
.order-info-view-top-result-text{
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-size: 12px;
  font-weight: 700;
}

.order-info-divider {
  margin-left: 22px;

  width: 1100px;
  height: 1px;
  background-color: #7698B7;
  display: flex;
  align-items: center;
}

.order-info-view-top {
  margin-top: 25px;
  margin-left: 27px;
}

.order-info-view-top-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* ---------------------------------------------------------------- */

/* 조회 기능 */

.order-info-search-function {
  display: flex;
}

.order-info-search-container {
  margin-left: 22px;
  width: 260px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #F9F9F9;
}

/* 주문번호 */

.order-info-search-order-code {
  width: 120px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.order-info-search-order-code-text {
  width: 118px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.order-info-search-order-code-box-name-box-text {
  width: calc(260px - 120px - 4px);
  height: 31px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
}

/* 주문일자 */

.order-info-search-order-date {
  width: 120px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.order-info-search-order-date-text {
  width: 118px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.order-info-search-order-date-box-name-box-text {
  width: calc(260px - 120px - 4px);
  height: 31px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
}



/* ------------------------------------------------------------ */

.order-info-view-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  margin-left: 20px;

  width: 1100px;
  height: 250px;

  border: 1px solid #CFCFCF;
}

.order-info-view-container-box {
  width: 1080px;
  height: 230px;

  border: 1px solid #CFCFCF;
}

/* ------------------------------------------------------------ */

/* first table title */

.order-info-view-container-first-table-title {
  width: 100%;
  height: 35px;
  display: flex;
}

.order-info-view-container-first-table-title-no {
  width: 60px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-title-order-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-title-order-date {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-title-project-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-title-emp-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-title-cust-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-title-manager {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}




/* ------------------------------------------------------------ */
/* first table body */

.order-info-view-container-first-table-body {
  width: 100%;
  height: 35px;
  display: flex;
}

.order-info-view-container-first-table-body-no {
  width: 57px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-body-order-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-order-date {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-dept-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-emp-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-cust-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-manager {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}


/* ------------------------------------------------------------ */
/* 새로 저장하는 first body */

.order-info-view-container-first-table-body-new {
  width: 100%;
  height: 35px;
  display: flex;
}

.order-info-view-container-first-table-body-new-no {
  width: 57px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-first-table-body-new-order-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-new-order-date {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-new-dept-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-new-emp-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-new-cust-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-first-table-body-new-manager {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ------------------------------------------------------------ */
/* second table title*/

.order-info-view-container-second-table-title {
  width: 100%;
  height: 35px;
  display: flex;
}

.order-info-view-container-second-table-title-no {
  width: 60px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-title-product-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-title-product-name {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-title-unit {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-title-order-quantity {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-title-price {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-title-total-price {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}


/* ------------------------------------------------------------ */
/* second table body */

.order-info-view-container-second-table-body {
  width: 100%;
  height: 35px;
  display: flex;
}

.order-info-view-container-second-table-body-no {
  width: 57px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-body-product-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-product-name {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-unit {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-order-quantity {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-price {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-total-price {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ------------------------------------------------------------ */
/* 새로 저장하는 second body */

.order-info-view-container-second-table-body-new-no {
  width: 57px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-second-table-body-new-product-code {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-new-product-name {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-new-unit {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-new-order-quantity {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-new-price {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.order-info-view-container-second-table-body-new-total-price {
  width: 166px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}



/* ------------------------------------------------------------ */


/* ------------------------------------------------------------ */


/* ------------------------------------------------------------ */



.order-info-view-container {
  display: flex;

  flex-direction: column;
}

.order-info-view-container-box-top {
  display: flex;

  margin-bottom: 24px;

  padding: 1px 5px;

  justify-content: center;

  width: 1085px;
  height: 200px;

  border: 1px solid #CFCFCF;
}

.order-info-view-container-top-table {
  display: flex;

  flex-direction: column;
}

.order-info-view-container-top-table-title {
  display: flex;

  margin-top: 10px;

  width: 100%;
  height: 35px;
}

.order-info-view-container-top-table-title-no {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-title-order-code {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-title-order-date {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-title-customer {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-title-manager {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-body {
  display: flex;

  width: 100%;
  height: 35px;
}

.order-info-view-container-top-table-body-no {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 100px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-body-order-code {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-body-order-date {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-body-customer {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-top-table-body-manager {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 245px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-box-bottom {
  display: flex;

  justify-content: center;

  padding: 1px 5px;

  width: 1085px;
  height: 200px;

  border: 1px solid #CFCFCF;
}

.order-info-view-container-bottom-table {
  display: flex;

  flex-direction: column;
}

.order-info-view-container-bottom-table-title {
  display: flex;

  margin-top: 10px;

  width: 100%;
  height: 35px;
}

.order-info-view-container-bottom-table-title-no {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 80px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-title-product-code {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-title-product-name {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-title-unit {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-title-order-quantity {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-title-price {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-title-total-price {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body {
  display: flex;

  width: 100%;
  height: 35px;
}

.order-info-view-container-bottom-table-body-no {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 80px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body-product-code {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body-product-name {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body-unit {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body-order-quantity {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body-price {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-view-container-bottom-table-body-total-price {
  display: flex;
  
  flex-direction: column;
  justify-content: center;

  width: 165px;
  height: 35px;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.order-info-bottom {
  display: flex;

  margin-top: 20px;
}

.order-info-bottom-button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 837px;
  margin-right: 5px;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(52, 117, 181, 1);

  background-color: rgba(52, 117, 181, 1);
}

.order-info-bottom-button-save:hover {
  cursor: pointer;
  background-color: rgba(52, 117, 181, 0.7);
}

.order-info-bottom-button-save-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.order-info-bottom-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(0, 0, 0, 0.5);
}

.order-info-bottom-button-cancel:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.order-info-bottom-button-cancel-text {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}