#side-menu {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 81px;
  height: calc(100vh - 10vh);

  background-color: #E1E1E1;
}

.side-menu-home {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-home:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.side-menu-home:hover .side-menu-home-icon {
  width: 40px;
  height: 40px;

  background-image: url(./assets/home_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-home-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/home_left_black.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-home-text {
  margin-top: 2px;

  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}
.side-menu-system-manage {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-system-manage:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.side-menu-system-manage:hover .side-menu-system-manage-icon {
  width: 40px;
  height: 40px;

  background-image: url(./assets/system_manage_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-system-manage-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/system_manage_left_black.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-system-manage-text {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}

.side-menu-human-resource {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-human-resource:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.side-menu-human-resource:hover .side-menu-human-resource-icon {
  width: 40px;
  height: 40px;

  background-image: url(./assets/human-resource_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-human-resource-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/human-resource_left_black.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-human-resource-text {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}

.side-menu-sales {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-sales-active {
  background-color: #f9f9f9;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-sales:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.side-menu-sales:hover .side-menu-sales-icon {
  width: 40px;
  height: 40px;

  background-image: url(./assets/sales_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-sales-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/sales_left_black.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.side-menu-sales-icon-active {
  width: 40px;
  height: 40px;

  background-image: url(./assets/sales_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-sales-text {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}

.side-menu-funds {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-funds:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.side-menu-funds:hover .side-menu-funds-icon {
  width: 40px;
  height: 40px;

  background-image: url(./assets/funds_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-funds-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/funds_left_black.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.side-menu-funds-text {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}

.side-menu-search {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-search:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.side-menu-search:hover .side-menu-search-icon {
  width: 40px;
  height: 40px;

  background-image: url(./assets/search_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-search-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/search_left_black.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-search-text {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}

.side-menu-logout {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 85px;
}

.side-menu-logout:hover {
  cursor: pointer;
}

.side-menu-logout-icon {
  width: 35px;
  height: 35px;

  background-image: url(./assets/logout_left_color.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.side-menu-logout-text {
  margin-top: 5px;
  
  font-size: 12px;
  font-weight: 700;
  word-wrap: break-word;
}