.human-menu-left {
  margin-bottom: 24px;

  width: 182px;
  height: calc(100vh - 10vh);

  background-color: #f9f9f9;
}

.human-menu-left-top {
  display: flex;

  margin-left: 28px;
  margin-bottom: 8px;
}

.human-menu-left-top-text {
  margin-top: 24px;

  width: 101px;
  height: 20px;

  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.human-menu-left-detail {
  display: flex;
}

.human-menu-left-detail-left {
  display: flex;
  padding-left: 41px;
}

.human-menu-left-detail-right {
  display: flex;
}

.human-menu-left-detail-right-text {
  display: flex;

  flex-direction: column;

  margin-top: 5px;
}

.employee-info-registration {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.employee-info-registration:hover {
  cursor: pointer;
}
.employee-info-registration-active {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.annual-price-info-registration {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.annual-price-info-registration:hover {
  cursor: pointer;
}

.annual-price-info-registration-active {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.incentive-info-registration {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.incentive-info-registration:hover {
  cursor: pointer;
}

.incentive-info-registration-active {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.manage-day-off-info-registration {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.manage-day-off-info-registration:hover {
  cursor: pointer;
}

.manage-day-off-info-registration-active {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.apply-day-off-info-registration {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.apply-day-off-info-registration:hover {
  cursor: pointer;
}

.apply-day-off-info-registration-active {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.worktime-info-registration {
  margin-top: 5px;
  margin-bottom: 20px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.worktime-info-registration:hover {
  cursor: pointer;
}

.worktime-info-registration-active {
  margin-top: 5px;
  margin-bottom: 20px;

  font-family: Inter;
  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}