#company-info {
  display: flex;
}
.customer-info-wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 20px;

  width: 1440px;
  height: calc(100vh - 10vh);
}
.customer-info-top {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
}
.customer-info-top-text {
  color: rgba(0, 0, 0, 0.8);

  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.divider {
  border-top: 1px solid rgba(118, 152, 183, 1);

  width: 1100px;
  height: 0px;

  stroke-width: 1px;
  stroke: #7698b7;
}
.company-info-middle-text {
  margin-top: 26px;
  padding-bottom: 17px;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.company-info-middle-box {
  width: 735px;
  height: 650px;

  border: 1px solid rgba(0, 0, 0, 0.3);
}
.company-info-logo-image-box {
  background-image: url(./asset/logo_upload_image.PNG);
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 174px;
  height: 150px;

  margin: 0 auto;
  margin-top: 21px;
}
.company-info-logo-image-box:hover {
  cursor: pointer;
}
.company-info-text-box {
  width: 100%;

  margin-top: 30px;
  margin-left: 5px;
}
.company-info-box {
  display: flex;
  margin-right: 12px;
  margin-bottom: 13px;
}
.company-info-label {
  width: 100px;
  height: 26px;
  margin-right: 12px;

  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: right;
}
input {
  border: 1px rgba(0, 0, 0, 0.3) solid;
}
.company-info-business-number {
  width: 278px;
}
.company-info-company-name {
  width: 169px;
}
.company-info-representative-name {
  width: 169px;
}
.company-info-company-post-code-container {
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.company-info-company-post-code {
  flex: 1;
  display: block;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.7);
}
.company-info-company-post-code-icon {
  border-radius: 24px;
  width: 24px;
  height: 24px;

  background-image: url(./asset/postcode_icon.PNG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
.company-info-company-post-code-icon:hover {
  cursor: pointer;
}
.company-info-company-address {
  width: 483px;
}
.company-info-company-address-detail {
  width: 483px;
}
.company-info-business_status {
  width: 279px;
}
.company-info-business-type {
  width: 279px;
}
.company-info-english-company-name {
  width: 279px;
}
.company-info-company-homepage {
  width: 279px;
}
.company-info-bottom {
  display: flex;
}
.company-info-bottom-button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 827px;
  margin-right: 5px;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(52, 117, 181, 1);

  background-color: rgba(52, 117, 181, 1);
}
.company-info-bottom-button-save-text:hover{
  cursor: pointer;
}
.company-info-bottom-button-save-text {
  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.company-info-bottom-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(0, 0, 0, 0.5);
}

.company-info-bottom-button-cancel-text {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
