#sales-plan-wrapper {
  display: flex;
}

.sales-plan-right {
  width: calc(194.858vh - 24.62vh);
}

.sales-plan-top-container {
  display: flex;

  margin-left: 27px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sales-plan-top-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-divider {
  margin-left: 22px;

  width: 1100px;
  height: 1px;
  background-color: #7698B7;
  display: flex;
  align-items: center;
}

/* 조회 기능 */
/* ---------------------------------------------------------------- */
.sales-plan-search-function {
  display: flex;
}

.sales-plan-search-container {
  margin-left: 22px;
  width: 260px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #F9F9F9;
}

/* 판매계획 코드 */

.sales-plan-search-plan-code {
  width: 120px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.sales-plan-search-plan-code-text {
  width: 118px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.sales-plan-search-plan-code-box-name-box-text {
  width: calc(260px - 120px - 4px);
  height: 31px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
}

/* 프로젝트 명 */

.sales-plan-search-project-name {
  width: 120px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.sales-plan-search-project-name-text {
  width: 118px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.sales-plan-search-project-name-box-name-box-text {
  width: calc(260px - 120px - 4px);
  height: 31px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
}

/* 프로젝트 명 */

.sales-plan-search-plan-date {
  width: 120px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.sales-plan-search-plan-date-text {
  width: 118px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.sales-plan-search-plan-date-box-name-box-text {
  width: calc(260px - 120px - 4px);
  height: 31px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
}


/* ---------------------------------------------------------------- */


.sales-plan-view-top {
  margin-top: 25px;
  margin-left: 27px;
}

.sales-plan-view-top-text {
  padding-bottom: 17px;
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------------------------------------------------------- */


.sales-plan-view-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  margin-left: 20px;

  width: 1100px;
  height: 250px;

  border: 1px solid #CFCFCF;
}

.sales-plan-view-container-box {
  width: 1080px;
  height: 230px;

  border: 1px solid #CFCFCF;
}

/* ---------------------------------------------------------------- */
/* first table 타이틀 */

.sales-plan-view-container-first-table-title {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-first-table-title-no {
  width: 60px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-title-plan-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-title-project-name {
  width: 300px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-title-dept-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-title-emp-code {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-title-plan-date {
  width: 180px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

/* ---------------------------------------------------------------- */
/* first table 바디 */

.sales-plan-view-container-first-table-body {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-first-table-body-no {
  width: 61px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-body-plan-code {
  width: 175px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-project-name {
  width: 303px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-dept-code {
  width: 176px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-emp-code {
  width: 176px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-plan-date {
  width: 176px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ---------------------------------------------------------------- */
/* 새로 저장하는 first body */
.sales-plan-view-container-first-table-body-new {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-first-table-body-new-no {
  width: 61px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-first-table-body-new-plan-code {
  width: 175px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-new-project-name {
  width: 303px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-new-dept-code {
  width: 176px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-new-emp-code {
  width: 176px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-first-table-body-new-plan-date {
  width: 176px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ---------------------------------------------------------------- */
/* second table title*/

.sales-plan-view-container-second-table-title {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-second-table-title-no {
  width: 60px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-product-code {
  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-product-name {
  width: 150px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-unit {
  width: 70px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-plan-quantity {
  width: 120px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-exchange-type {
  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-exchange-rate {
  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-expect-price {
  width: 125px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-expect-total-price {
  width: 125px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-title-expect-korean-price {
  width: 125px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}


/* ---------------------------------------------------------------- */
/* second table body */

.sales-plan-view-container-second-table-body {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-second-table-body-no {
  width: 60px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-body-product-code {
  width: 96px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-product-name {
  width: 146px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-unit {
  width: 66px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-plan-quantity {
  width: 116px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-exchange-type {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-exchange-rate {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-expect-price {
  width: 121px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-expect-total-price {
  width: 121px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-expect-korean-price {
  width: 125px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ---------------------------------------------------------------- */
/* 새로 저장하는 second body */

.sales-plan-view-container-second-table-body-new {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-second-table-body-new-no {
  width: 60px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-second-table-body-new-product-code {
  width: 96px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-product-name {
  width: 146px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-unit {
  width: 66px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-plan-quantity {
  width: 116px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-exchange-type {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-exchange-rate {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-expect-price {
  width: 121px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-expect-total-price {
  width: 121px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-second-table-body-new-expect-korean-price {
  width: 125px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ---------------------------------------------------------------- */

.sales-plan-bottom {
  display: flex;

  margin-top: 20px;
  margin-left: 22px;
}

.sales-plan-bottom-button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 827px;
  margin-right: 5px;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(52, 117, 181, 1);

  background-color: rgba(52, 117, 181, 1);
}

.sales-plan-bottom-button-save:hover {
  cursor: pointer;
  background-color: rgba(52, 117, 181, 0.7);
}

.sales-plan-bottom-button-save-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sales-plan-bottom-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(0, 0, 0, 0.5);
}

.sales-plan-bottom-button-cancel:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.sales-plan-bottom-button-cancel-text {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

