#sales-plan-wrapper {
  display: flex;
}

.sales-plan-right {
  width: calc(194.858vh - 24.62vh);
}

.sales-plan-top-container {
  display: flex;

  margin-left: 27px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sales-plan-top-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-divider {
  margin-left: 22px;

  width: 1100px;
  height: 1px;
  background-color: #7698B7;
  display: flex;
  align-items: center;
}

/* 조회 기능 */
/* ---------------------------------------------------------------- */
.sales-plan-search-function {
  display: flex;
}

.sales-plan-search-container {
  margin-left: 22px;
  width: 260px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #F9F9F9;
}


/* 프로젝트 명 */

.sales-plan-search-project-name {
  width: 120px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.sales-plan-search-project-name-text {
  width: 118px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.sales-plan-search-project-name-box-name-box-text {
  width: calc(260px - 120px - 4px);
  height: 31px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
}



/* ---------------------------------------------------------------- */


.sales-plan-view-top {
  margin-top: 25px;
  margin-left: 27px;
}

.sales-plan-view-top-text {
  padding-bottom: 17px;
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------------------------------------------------------- */


.sales-plan-view-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  margin-left: 20px;

  width: 1100px;
  height: 550px;

  border: 1px solid #CFCFCF;
}

.sales-plan-view-container-box {
  width: 1080px;
  height: 530px;

  border: 1px solid #CFCFCF;
}

/* ---------------------------------------------------------------- */
/* table 타이틀 */

.sales-plan-view-container-table-title {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-table-title-no {
  width: 50px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-plan-code {
  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-project-name {
  width: 150px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-plan-date {
  width: 120px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-product-code {
  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-product-name {
  width: 120px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-plan-quantity {
  width: 100px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-expect-price {
  width: 110px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-title-expect-total-price {
  width: 110px;
  height: 35px;

  background-color: #184A7D;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}


.sales-plan-view-container-table-title-employee-name {
  width: 110px;
  height: 35px;

  background-color: #184A7D;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

/* ---------------------------------------------------------------- */
/* table 바디 */

.sales-plan-view-container-table-body {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-table-body-no {
  width: 50px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-body-plan-code {
  width: 101px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-project-name {
  width: 147px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-plan-date {
  width: 117px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-product-code {
  width: 101px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-product-name {
  width: 121px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-plan-quantity {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-expect-price {
  width: 107px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-expect-total-price {
  width: 110px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-employee-name {
  width: 110px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ---------------------------------------------------------------- */
/* 새로 저장하는 body */

.sales-plan-view-container-table-body-new {
  width: 100%;
  height: 35px;
  display: flex;
}

.sales-plan-view-container-table-body-new-no {
  width: 50px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.sales-plan-view-container-table-body-new-plan-code {
  width: 101px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-project-name {
  width: 147px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-plan-date {
  width: 117px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-product-code {
  width: 101px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-product-name {
  width: 121px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-plan-quantity {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-expect-price {
  width: 107px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-expect-total-price {
  width: 110px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-right: 1px solid #FFF;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

.sales-plan-view-container-table-body-new-employee-name {
  width: 110px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: rgba(44, 43, 43, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border:none;
}

/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
