#release-info-wrapper {
  display: flex;
}

.release-info-right {
  width: calc(194.858vh - 24.62vh);

  margin-left: 22px;
}

.release-info-top-container {
  display: flex;

  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.release-info-top-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.release-info-divider {
  display: flex;
  align-items: center;

  width: 1100px;
  height: 1px;

  background-color: #7698B7;
}

/* ---------------------------------------------------------- */

.release-info-register-container {
  display: flex;

  flex-direction: column;
}

.release-info-register-container-box {
  display: flex;

  margin-top: 15px;

  width: 1085px;
  height: 35px;

  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #F9F9F9;
}

/* ---------------------------------------------------------- */

/* 부서 */
.release-info-dept {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  width: 360px;
  height: 35px;
}

.release-info-dept-text {
  width: 100px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-dept-box {
  width: 260px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-dept-box-code-box {
  margin: 4px 0px 4px 4px;

  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

.release-info-dept-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  border: none;
  outline: none;

  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-weight: 400;
}

.release-info-dept-search-button {
  margin-left: 11px;

  width: 40px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-dept-search-button:hover {
  cursor: pointer;
}

.release-info-dept-box-name-box {
  margin: 4px 4px 4px 11px;

  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;


  display : flex;
  align-items : center;
}

.release-info-dept-box-name-box-text {
  margin: 4px 0px 4px 9px;

  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* 사원 */
.release-info-employee {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  width: 360px;
  height: 35px;
}

.release-info-employee-text {
  width: 100px;
  height: 35px;

  border-left: 1px solid rgba(0, 0, 0, 0.30);
  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-employee-box {
  width: 260px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-employee-box-code-box {
  margin: 4px 0px 4px 4px;

  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

.release-info-employee-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  border: none;
  outline: none;

  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-weight: 400;
}

.release-info-employee-search-button {
  margin-left: 11px;

  width: 40px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-employee-search-button:hover {
  cursor: pointer;
}

.release-info-employee-box-name-box {
  margin: 4px 4px 4px 11px;

  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;


  display : flex;
  align-items : center;
}

.release-info-employee-box-name-box-text {
  margin: 4px 0px 4px 9px;

  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* 거래처 코드 */
.release-info-customer {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  width: 360px;
  height: 35px;
}

.release-info-customer-text {
  width: 100px;
  height: 35px;
  
  border-left: 1px solid rgba(0, 0, 0, 0.30);
  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-customer-box {
  width: 260px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-customer-box-code-box {
  margin: 4px 0px 4px 4px;

  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

.release-info-customer-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  border: none;
  outline: none;

  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-weight: 400;
}

.release-info-customer-search-button {
  margin-left: 11px;

  width: 40px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-customer-search-button:hover {
  cursor: pointer;
}

.release-info-customer-box-name-box {
  margin: 4px 4px 4px 11px;

  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;


  display : flex;
  align-items : center;
}

.release-info-customer-box-name-box-text {
  margin: 4px 0px 4px 9px;

  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* ------------------------------------------------------------ */

/* 출고일자 */
.release-info-date {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  width: 360px;
  height: 35px;
}

.release-info-date-text {
  width: 100px;
  height: 35px;
  
  border-right: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 6px 0px 0px 6px;
  background: #F9F9F9;

  display : flex;
  justify-content : center;
  align-items : center;
  
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-date-container {
  width: 260px;
  height: 35px;
  
  display : flex;
  align-items : center;

  background-color: #FFF;
  padding-inline-start: 4px;
}

.release-info-date-select-box {
  width: 150px;
  height: 27px;
  
  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;
  
  display : flex;
  align-items : center;
  justify-content: center;
}

.release-info-date-select {
  width: 150px;
  height: 15px;

  display : flex;
  align-items : center;

  border: none;
  outline: none;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* 품번 */
.release-info-product-code {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  width: 360px;
  height: 35px;
}

.release-info-product-code-text {
  width: 100px;
  height: 35px;

  border-left: 1px solid rgba(0, 0, 0, 0.30);
  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-product-code-box {
  width: 260px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-product-code-box-code-box {
  margin: 4px 0px 4px 4px;

  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

.release-info-product-code-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  border: none;
  outline: none;

  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-weight: 400;
}

.release-info-product-code-search-button {
  margin-left: 11px;

  width: 40px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-product-code-search-button:hover {
  cursor: pointer;
}

.release-info-product-code-box-name-box {
  margin: 4px 4px 4px 11px;

  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;


  display : flex;
  align-items : center;
}

.release-info-product-code-box-name-box-text {
  margin: 4px 0px 4px 9px;

  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* 품목 */
.release-info-product-name {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  width: 360px;
  height: 35px;
}

.release-info-product-name-text {
  width: 100px;
  height: 35px;
  
  border-left: 1px solid rgba(0, 0, 0, 0.30);
  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-product-name-box {
  width: 260px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-product-name-box-code-box {
  margin: 4px 0px 4px 4px;

  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

.release-info-product-name-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  border: none;
  outline: none;

  color: rgba(0, 0, 0, 0.80);
  font-size: 12px;
  font-weight: 400;
}

.release-info-product-name-search-button {
  margin-left: 11px;

  width: 40px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-product-name-search-button:hover {
  cursor: pointer;
}

.release-info-product-name-box-name-box {
  margin: 4px 4px 4px 11px;

  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;


  display : flex;
  align-items : center;
}

.release-info-product-name-box-name-box-text {
  margin: 4px 0px 4px 9px;

  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}


/* ------------------------------------------------------------ */

/* 주문단위수량 */
.release-info-order-quantity {
  width: 270px;
  height: 35px;
  
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.release-info-order-quantity-text {
  width: 100px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-order-quantity-box {
  width: 170px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-order-quantity-input {
  margin: 4px 0px 4px 4px;
  width: 150px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

/* 단가 */
.release-info-price {
  width: 270px;
  height: 35px;
  
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.release-info-price-text {
  width: 100px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);
  border-left: 1px solid rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-price-box {
  width: 170px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-price-input {
  margin: 4px 0px 4px 4px;
  width: 150px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

/* 공급가 */
.release-info-supply-price {
  width: 270px;
  height: 35px;
  
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.release-info-supply-price-text {
  width: 100px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);
  border-left: 1px solid rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-supply-price-box {
  width: 170px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-supply-price-input {
  margin: 4px 0px 4px 4px;
  width: 150px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

/* 부가세 */
.release-info-surtax {
  width: 270px;
  height: 35px;
  
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.release-info-surtax-text {
  width: 100px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);
  border-left: 1px solid rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.release-info-surtax-box {
  width: 170px;
  height: 35px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.release-info-surtax-input {
  margin: 4px 0px 4px 4px;
  width: 150px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  display : flex;
  align-items : center;
}

/* ---------------------------------------------------------- */

.release-info-register-button-container {
  display: flex;

  margin-top: 8px;
}

.release-info-register-button {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-left: 960px;
  margin-right: 5px;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(52, 117, 181, 1);

  background-color: rgba(52, 117, 181, 1);
}

.release-info-register-button:hover {
  cursor: pointer;
  background-color: rgba(52, 117, 181, 0.7);
}

.release-info-register-button-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------------------------------------------------- */

.release-info-view-top {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.release-info-view-top-text {
  color: rgba(0, 0, 0, 0.80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------------------------------------------------- */

.release-info-view-container {
  display: flex;

  flex-direction: column;
}

.release-info-view-container-top {
  display: flex;

  margin-bottom: 24px;

  padding: 1px 5px;

  justify-content: center;

  width: 1085px;
  height: 200px;

  border: 1px solid #CFCFCF;
}

/* ---------------------------------------------------------- */

.release-info-view-container-bottom {
  display: flex;

  margin-bottom: 10px;

  padding: 1px 5px;

  justify-content: center;

  width: 1085px;
  height: 200px;

  border: 1px solid #CFCFCF;
}



/* ---------------------------------------------------------- */

.release-info-bottom {
  display: flex;

  margin-top: 10px;
}

.release-info-bottom-button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 837px;
  margin-right: 5px;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(52, 117, 181, 1);

  background-color: rgba(52, 117, 181, 1);
}

.release-info-bottom-button-save:hover {
  cursor: pointer;
  background-color: rgba(52, 117, 181, 0.7);
}

.release-info-bottom-button-save-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.release-info-bottom-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 35px;

  border: 0.8px solid rgba(0, 0, 0, 0.5);
}

.release-info-bottom-button-cancel:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.release-info-bottom-button-cancel-text {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}