.invoice-list-item{
    width: 1080px;
    height: 30px;
    background: white;
    display: flex;
    color: rgba(0, 0, 0, 0.80);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.invoice-list-checkbox{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-date{
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-invoice-code{
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-product-code{
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-customer-code{
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-customer-name{
    width: 170px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-price{
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-invoice-type{
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.invoice-list-invoice-content{
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}