#employee-info-wrapper {
  display: flex;

}

.employee-info-right {
  width: calc(194.858vh - 24.62vh);
}

.employee-info-right-top {
}

.employee-info-right-top-title {
  margin-left: 27px;
  margin-top: 30px;

  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.employee-info-right-top-divider{
  margin-left: 22px;
  margin-top: 15px;
  width: 1100px;
  height: 1px;
  background-color: #7698B7;
  display: flex;
  align-items: center;
}

.employee-info-right-top-search-condition {
  margin-top: 15px;
  margin-left: 22px;
  width: 1100px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #F9F9F9;
}

/* 부서 */
.employee-info-right-top-search-dept {
  width: 360px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.employee-info-right-top-search-dept-text {
  width: 120px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.employee-info-right-top-search-dept-box {
  width: 240px;
  height: 35px;
  
  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.employee-info-right-top-search-dept-box-code-box {
  margin: 4px 0px 4px 4px;
  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;
  
  display : flex;
  align-items : center;
}

.employee-info-right-top-search-dept-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.employee-info-right-top-search-dept-box-name-box {
  margin: 4px 4px 4px 11px;
  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  
  display : flex;
  align-items : center;
}

.employee-info-right-top-search-dept-box-name-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* 사원 */
.employee-info-right-top-search-employee {
  width: 360px;
  height: 35px;

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;
}

.employee-info-right-top-search-employee-text {
  width: 120px;
  height: 35px;

  border-left: 1px solid rgba(0, 0, 0, 0.30);
  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.employee-info-right-top-search-employee-box {
  width: 240px;
  height: 35px;
  
  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #FFF;
}

.employee-info-right-top-search-employee-box-code-box {
  margin: 4px 0px 4px 4px;
  width: 70px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  
  display : flex;
  align-items : center;
}

.employee-info-right-top-search-employee-box-code-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.employee-info-right-top-search-employee-box-name-box {
  margin: 4px 4px 4px 11px;
  width: 102px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #FFF;

  
  display : flex;
  align-items : center;
}

.employee-info-right-top-search-employee-box-name-box-text {
  margin: 4px 0px 4px 9px;
  width: 50px;
  height: 15px;

  display : flex;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* 재직구분 */
.employee-info-right-top-search-employment-status {
  width: 360px;
  height: 35px;

  background-color:#FFF;
  /* border-radius: 5px; */

  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.employee-info-right-top-search-employment-status-text {
  width: 120px;
  height: 35px;

  border-right: 1px solid rgba(0, 0, 0, 0.30);
  background-color: #F9F9F9;

	display : flex;
  justify-content : center;
  align-items : center;

  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.employee-info-right-top-search-employment-status-box {
  margin-left: 4px;
  width: 240px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
}

.employee-info-right-top-search-button {
  margin-left: 11px;
  width: 40px;
  height: 27px;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background-color: rgba(0, 0, 0, 0.30);

  display : flex;
  justify-content : center;
  align-items : center;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}



.employee-info-right-top-search-employee {
  width: 360px;
  height: 35px;
  display: flex;
}