#invoice-wrapper {
display: flex;
}
.invoice-right {
width: calc(194.858vh - 24.62vh);
}
.invoice-right-top {
}
.invoice-right-top-title {
margin-left: 27px;
margin-top: 30px;

color: rgba(0, 0, 0, 0.80);
text-align: left;
font-size: 14px;
font-weight: 700;
}
.invoice-right-top-divider{
margin-left: 22px;
margin-top: 15px;
width: 1100px;
height: 1px;
background-color: #7698B7;
display: flex;
align-items: center;
}
.invoice-right-top-search-condition {
margin-top: 15px;
margin-left: 22px;
width: 1085px;
height: 35px;

display: flex;
justify-content: center;
align-items: center;

border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.30);
background: #F9F9F9;
}

/* 부서 */
.invoice-right-top-search-dept {
width: 360px;
height: 35px;

display: flex;
justify-self: center;
align-items: center;
text-align: center;
}

.invoice-right-top-search-dept-text {
width: 120px;
height: 35px;

border-right: 1px solid rgba(0, 0, 0, 0.30);

    display : flex;
justify-content : center;
align-items : center;

color: rgba(0, 0, 0, 0.80);
text-align: center;
font-size: 12px;
font-weight: 400;
}

.invoice-right-top-search-dept-box {
width: 240px;
height: 35px;

display : flex;
justify-content : center;
align-items : center;
background-color: #FFF;
}

.invoice-right-top-search-dept-box-code-box {
margin: 4px 0px 4px 4px;
width: 70px;
height: 27px;

border: 1px solid rgba(0, 0, 0, 0.30);
background-color: #FFF;

display : flex;
align-items : center;
}

.invoice-right-top-search-dept-box-code-box-text {
margin: 4px 0px 4px 9px;
width: 50px;
height: 15px;

display : flex;
    border: none;
    outline: none;

color: rgba(0, 0, 0, 0.80);
font-size: 12px;
font-weight: 400;
}

.invoice-right-top-search-dept-box-name-box {
margin: 4px 4px 4px 11px;
width: 102px;
height: 27px;

border: 1px solid rgba(0, 0, 0, 0.30);
background-color: #FFF;


display : flex;
align-items : center;
}

.invoice-right-top-search-dept-box-name-box-text {
margin: 4px 0px 4px 9px;
width: 50px;
height: 15px;

display : flex;
align-items : center;

color: rgba(0, 0, 0, 0.80);
text-align: center;
font-size: 12px;
font-weight: 400;
}

/* 사원 */
.invoice-right-top-search-employee {
width: 360px;
height: 35px;

display: flex;
justify-self: center;
align-items: center;
text-align: center;

border-right: 1px solid rgba(0, 0, 0, 0.30);
background-color: #F9F9F9;
}

.invoice-right-top-search-employee-text {
width: 120px;
height: 35px;

border-left: 1px solid rgba(0, 0, 0, 0.30);
border-right: 1px solid rgba(0, 0, 0, 0.30);
background-color: #F9F9F9;

    display : flex;
justify-content : center;
align-items : center;

color: rgba(0, 0, 0, 0.80);
text-align: center;
font-size: 12px;
font-weight: 400;
}

.invoice-right-top-search-employee-box {
width: 240px;
height: 35px;

display : flex;
justify-content : center;
align-items : center;
background-color: #FFF;
}

.invoice-right-top-search-employee-box-code-box {
margin: 4px 0px 4px 4px;
width: 70px;
height: 27px;

border: 1px solid rgba(0, 0, 0, 0.30);
background-color: #FFF;


display : flex;
align-items : center;
}

.invoice-right-top-search-employee-box-code-box-text {
margin: 4px 0px 4px 9px;
width: 50px;
height: 15px;

display : flex;
border: none;
outline: none;

color: rgba(0, 0, 0, 0.80);
font-size: 12px;
font-weight: 400;
}

.invoice-right-top-search-employee-box-name-box {
margin: 4px 4px 4px 11px;
width: 102px;
height: 27px;

border: 1px solid rgba(0, 0, 0, 0.30);
background-color: #FFF;


display : flex;
align-items : center;
}

.invoice-right-top-search-employee-box-name-box-text {
margin: 4px 0px 4px 9px;
width: 50px;
height: 15px;

display : flex;
align-items : center;

color: rgba(0, 0, 0, 0.80);
text-align: center;
font-size: 12px;
font-weight: 400;
}

/* 재직구분 */
.invoice-right-top-search-employment-status {
width: 100%;
height: 35px;

background-color:#FFF;
border-radius: 5px;

display: flex;
justify-self: center;
align-items: center;
text-align: center;
}
.invoice-right-top-search-employment-status-text {
width: 120px;
height: 35px;

border-right: 1px solid rgba(0, 0, 0, 0.30);
background-color: #F9F9F9;

    display : flex;
justify-content : center;
align-items : center;

color: rgba(0, 0, 0, 0.80);
text-align: center;
font-size: 12px;
font-weight: 400;
}
.invoice-right-top-search-employment-status-box {
width: 240px;
height: 35px;

display : flex;
justify-content : center;
align-items : center;
}
.invoice-right-top-search-employment-status-box-combo-box {
margin-left: 4px;
width: 232px;
height: 27px;

border: 1px solid rgba(0, 0, 0, 0.30);

display : flex;
align-items : center;
}
.invoice-right-top-search-employment-status-box-combo-box-text {
width: 232px;
height: 27px;
border: none;
color: rgba(0, 0, 0, 0.80);
text-align: left;
font-size: 12px;
font-weight: 400;
}
.invoice-right-top-search-button {
margin-left: 11px;
width: 40px;
height: 27px;

border: 1px solid rgba(0, 0, 0, 0.30);
background-color: rgba(0, 0, 0, 0.30);

display : flex;
justify-content : center;
align-items : center;

color: #FFF;
text-align: center;
font-size: 12px;
font-weight: 400;
}
.invoice-right-top-search-button:hover{
    cursor: pointer;
}
.invoice-right-top-search-employee {
width: 360px;
height: 35px;
display: flex;
}

.invoice-right-top-search-condition-bottom {
    margin-top: 5px;
    margin-left: 22px;
    width: 1085px;
    height: 35px;
    
    display: flex;
    align-items: center;
    
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    
}
.invoice-right-top-search-dept-text-bottom {
    width: 120px;
    height: 35px;
    
    border-right: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 6px 0px 0px 6px;
    background: #F9F9F9;
    display : flex;
    justify-content : center;
    align-items : center;
    
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    }
.invoice-right-top-search-dept-box-bottom {
    width: 240px;
    height: 35px;
    
    display : flex;
    align-items : center;
    background-color: #FFF;
    padding-inline-start: 4px;
}
.invoice-right-top-search-dept-box-code-box-bottom {
    width: 100px;
    height: 27px;
    
    border: 1px solid rgba(0, 0, 0, 0.30);
    background-color: #FFF;
    
    display : flex;
    align-items : center;
    justify-content: center;
}
.invoice-right-top-search-dept-box-code-box-text-bottom {
    width: auto;
    height: 15px;

    display : flex;
    align-items : center;
    border: none;
    outline: none;

    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.middle-text{
    margin-left: 10px;
    margin-right: 10px;
}

.invoicelist-search-result{
    margin-left: 22px;
    margin-top: 50px;
}
.invoicelist-search-result-list-text{
    margin-left: 5px;
    width: 100px;
    height: 15px;
    color: rgba(0, 0, 0, 0.80);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}
.invoicelist-search-result-list-container{
    margin-top: 12px;
    width: 1080px;
    height: 84px;
}
.invoicelist-search-result-list-title{
    width: 100%;
    height: 30px;
    background: #184A7D;
    display: flex;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-checkbox{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.title-number{
     width: 80px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     border-right: 1px solid white;
 }
.title-date{
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.title-invoice-code{
    width: 115px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.title-worker-code{
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.title-price{
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.title-invoice-type{
    width: 125px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.title-invoice-content{
    width: 320px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}