/* Inter Font - import 방식 */
/* https://fonts.google.com/specimen/Inter - 링크 주소 */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* word-break: break-all; : 단어의 분리를 어떻게 할 것인지 결정 */
  word-break: break-all;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}